@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  background-color: #f9f7f1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}

a {
  color: #3273dc;

}

.title {
  text-decoration: none;
  border: 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

content {
  line-height: 1.6;
}

blockquote {
  border-left: 2px solid #999;
  color: #222;
  font-style: italic;
  padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #eee;
  }

  a {
    color: #8cc2dd;
  }

  blockquote {
    color: #ccc;
  }
}
